
node_modules/
.env
pnpm-lock.yaml
yarn.lock

npm install react-icons --save
npm install react-router-dom
npm install --save-dev @babel/
plugin-proposal-private-property-in-object
npm install chart.js react-chartjs-2
npm install @reduxjs/toolkit react-redux
npm install @reduxjs/toolkit
npm install frame-motion
npm install react-highcharts --save
npm install highcharts highcharts-react-official
npm install react-router-dom


package-lock.json