node_modules/
.env
pnpm-lock.yaml

npm install jsonwebtoken
npm init
npm install nodemon cors express
git config http.postBuffer 524288000
npm install router
npm install puppeteer-core
npm install mongoose

npm init
npm install nodemon cors express
git config http.postBuffer 524288000
npm install router
npm install puppeteer-core
npm install mongoose
npm install jsonwebtoken
npm install bcrypt
npm install highcharts highcharts-react-official

#new

npm install cors
npm install body-parser

package-lock.json