@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .valid_section {
    @apply w-full sm:h-[100vh] flex items-center justify-center bg-cover;
  }
  .valid_box {
    @apply bg-slate-800 border-slate-400 shadow-lg backdrop-filter backdrop-blur-sm bg-opacity-40 text-white w-[50rem] sm:h-[37rem]  rounded-xl p-3 overflow-hidden;
  }
  /* bg-slate-800 border-slate-400 rounded-tr-xl shadow-lg backdrop-filter backdrop-blur-sm bg-opacity-30 */
  .valid_top {
    @apply text-center flex flex-col gap-y-4;
  }
  .validation_div > div {
    /* @apply grid grid-cols-2 gap-8 mt-6; */
    @apply flex flex-wrap mt-6 justify-center gap-8 
  }
  .validation_div > div > div {
    /* @apply flex flex-col gap-y-4 w-[80%]  m-auto h-[10rem]; */
    @apply sm:w-[45%] w-[80%] gap-y-4 h-[10rem] flex flex-col items-center
  }
  .input_field {
    @apply bg-[rgba(30,35,38,255)] p-3 rounded-md ease-in duration-200 w-[80%];
  }
  .input_field:focus {
    @apply bg-[rgba(45,49,53,255)];
  }
  .errorbox {
    @apply bg-[#321818] border-2 border-[#d52726] flex
        flex-row gap-x-2;
  }
  .warningbox {
    @apply bg-[rgba(51,38,17,255)] border-2 border-[rgba(255,159,10,255)] flex
                    flex-row gap-x-2;
  }
  .validationbox {
    @apply bg-[rgba(17,37,53,255)] border-2 border-[rgba(94,180,254,255)] flex flex-row gap-x-2;
  }
  .successbox {
    @apply bg-[rgba(25,48,30,255)] border-2 border-[rgba(48,209,88,255)] flex flex-row gap-x-2;
  }
  .submit_div {
    @apply text-center sm:h-auto;
    height: 4rem !important;
  }
 
}
